# Flutter/Dart
.dart_tool/
.packages
build/

# FVM
.fvm/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
.DS_Store

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/captures/
android/local.properties
android/GeneratedPluginRegistrant.java
android/key.properties
*.jks

# Coverage
coverage/
*.lcov

# Generated
doc/api/
.flutter-plugins
.flutter-plugins-dependencies

# Logs
*.log*.mrpro
flutter_01.log
